{% extends "posts/base.html" %}
{% load static %}
{% block body_block %}
<div class="aboutcontainer">
<h1 class="aboutcim">A fesztiválról</h1 >
<p>Az utcaszínház egy nagy múltra visszatekintő, hagyományokra épülő műfaj, melyet első alkalommal mutat be ebben a formában egy jól is mert helyszínen az Ördöglik fesztivál.
Egy hiánypótló fesztivál, mely felkarolja a műfaj legtehetségesebb hazai előadóit és eljuttatja produkcióit egy szélesebb közönség felé.
</p>
<p>A független alkotó közösségek által létrehozott vásári, báb, cirkuszi, gólyalábas produkciókat a műfaj nemzetközileg is elismert, számos kitüntetéssel díjazott előadói hozzák el Kapolcsra.
A korábbi hazai nagyobb fesztiválok 2018-ban nem kerülnek megrendezésre, így az új, Kapolcsot kedvelő laikus látogatókon felül a műfaj követőire is lehet számítani az új fesztiválon.
</p>
<p>A helyszínről:
A Balaton-felvidék egyik vitathatatlanul legkedveltebb települése Kapolcs. A párszáz lélekszámú kicsi falu kiváló adottságai révén tudta kivívni hírnevét a különleges attrakciónak számító Művészetek Völgye Fesztivállal. A fesztiválszezon végével azonban visszazökken mindennapi létébe, holott a gyönyörű fekvésű település szinte minden évszakban lehetőséget nyújt a különleges, a kommersztől eltérő, egyedi programok megvalósítására.
</p>
</div>
{% endblock %}
